server:
  port: 8082
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/zhihu
    username: root
    password: Qingyang1234.
    hikari: # 数据源的配置信息
      connection-timeout: 30000       # 等待连接池分配连接的最大时长（毫秒），超过这个时长还没可用的连接则发生SQLException， 默认:30秒
      minimum-idle: 5                 # 最小连接数
      maximum-pool-size: 20           # 最大连接数
      auto-commit: true               # 自动提交
      idle-timeout: 600000            # 连接超时的最大时长（毫秒），超时则被释放（retired），默认:10分钟
      pool-name: DateSourceHikariCP   # 连接池名字
      max-lifetime: 1800000           # 连接的生命时长（毫秒），超时而且没被使用则被释放（retired），默认:30分钟 1800000ms

crawler:
  # 配置文件中用横杠，实体类用驼峰
  # 1. SSL配置
  trust-all-ssl: true

  # 2. 连接池配置
  max-conn-total: 50
  max-conn-per-route: 10
  connection-time-to-live-seconds: 60 # 连接存活时间（连接在池中最大保留时间）
  connection-request-timeout-seconds: 5 # 连接池等待超时（获取空闲连接的等待时间）

  # 3. 请求超时配置
  connect-timeout-seconds: 5 # 连接超时（建立TCP连接的时间）
  response-timeout-seconds: 5 # 响应超时（等待服务器返回数据的时间）

  # 4. 认证信息
  cookie: "_zap=3acdb6b2-483f-43f4-a043-9f6a4c0a5a2e; d_c0=OqZT5s7uAxuPTmV6VcAsYmNaoo1DJN4cKgU=|1756900396; __snaker__id=mIiJlDE3QgBMBYf4; q_c1=c80c98120a8e470ea1d339bac591748b|1756900515000|1756900515000; q_c1=c80c98120a8e470ea1d339bac591748b|1760498354000|1756900515000; __utma=51854390.861544585.1760498355.1760498355.1760498355.1; __utmz=51854390.1760498355.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); __utmv=51854390.100--|2=registration_date=20200409=1^3=entry_date=20200409=1; _xsrf=p2iUqCvpxi4IBD8TsXzesAn6zmOD2v0J; Hm_lvt_98beee57fd2ef70ccdd5ca52b9740c49=1765692469; HMACCOUNT=D2FDB73E8EA1EA40; z_c0=2|1:0|10:1765692469|4:z_c0|92:Mi4xNDg5ekdnQUFBQUE2cGxQbXp1NERHeVlBQUFCZ0FsVk5OYUlyYWdET3FHTnl1TWt0VklpNFpGaXlORzd6M0F4QjZn|f7b052bc1a8140e9607fcece1276b3dc54bb1822c641cfe815a5de958e5f52f9; SESSIONID=DLD68eAqmqQzOKpcPu31xwlMyS3wSxnjyG9OaXJp3i0; JOID=VV4SBkz3kAZl3EMzCQFnlXITrzESst1AUeQnc3qa4FYdkQhCa2hCOQ7dQzAJm2q_C46MJd6FpDvsnchYMHHMJTw=; osd=WlARAEn4ngVj2Uw9CgdimnwQqTQdvN5GVOspcHyf71gelw1NZWtEPAHTQDYMlGS8DYuDK92DoTTins5dP3_PIzk=; __zse_ck=004_LzRbfyDBkgXiSP=9ls5rtAhNXhWZzVuERrlrnT4P0U=LfZkZG8HPl7NspHZQEYRbPtQgah=UBwbq2b05v=7hCVf1ocOj6jWcjTAYbRN9z/Nx6hjBBQW3IFFahOGEuiwO-jCQmIppmn38XQAUQSVa04RoDfm3H34RHUo4IhXxC8zYVvBQX+ItonTItuV75hmQ1xkMtgcoz7lBPxbbmip57+ezPeQilZmKpqnghPuxwK3umE56RF3YTa4gkGXNSbx9v; sec_token=8d903703e8f95979c9d413cd5ca71749; captcha_session_v2=7vtIYhGZmxgdQhRITVVyTQPhzjtThB4bif8AoQWiyDBJfcnaRCKJ7TgZ21NlVIT5; gdxidpyhxdE=BesQ8h2vsNULlUrtrg%2BgkrSTDtYpMPbBn5v6uphfsauATZTH%2FhzcP7%2FPEy3t01u2zC1P3P90EvHXwrwjASJj2J6S%5ChPPlpY3%2FoN%2B1XT6%2BaXMzMy18E%2BVnclr5rKv1c7j2PqQVbgnVldIqckbllCMXzsg4TP%5C%2FgpDg0gR1a%2FxXrghJmAX%3A1765977623259; captcha_ticket_v2=eyJ2YWxpZGF0ZSI6IkNOMzFfd2FJMUdWbHpXTVlBUF9tZ0ZPWUxlM2h3Z1F6eXA1dXc4a0wxQ1dBTmhBa09XS0VKY3VvaDhHbjRPOHdpakhYQ04uQlN0RTguOFFCdHZIaGIza1U2bG9QbnF3VFlfcVdLWXAxNks2Nk91NVJaR0pEaldqM2haWkJpRXFVRkhCRFRFcTFoM1pxNEROTGFiTFNUZnVQZ0cudWg2UDFxNFFseWFkVHhIWGFmR1lQWip0LllwNndPVGlCOS4qSnRaWF9Jbm9EX2xQSDlFcXFfc05QYzUqcXhucVVEWHplWk5iV1VzbnFnUXQ5YWxLcVBiS21DT3NRYUREWTBRaWxQWGhwM1FYVG5naWNIYXJ6VC5NVUliSGoqeENFbWo5Mk4qdFVEQ0Z4ZW9RUGlpY0l5RmZaWjBlYndObC5Lb0tiV0FtcDBRamQzWGtucVZGTlhVVUM1R2lkODgzb3pQX25scm1kdXVtMnJKSzVmSUNqUWYwbmpSRnI1bVBRZW9YcTl5VWYuZG1LZ2ppRHFuTlMxb3FrUVRoMWIuUDBtQ1FMcFYzZ0UuczM1UWJFbWdQWGZFQnZJcDNlUUQ4OGZZTC5PeEpkTk16RXRFLk5rYlZadTMzNUVsZkZjS3lXVy5jenVNbCpZOFZmTW9ualhIUC5Fbk1hQnQwZmJjQS5mUHF5ODZXUW0uSnFyYVg3N192X2lfMSJ9; BEC=81e7d03b02f619e1531cb798b916e00c; Hm_lpvt_98beee57fd2ef70ccdd5ca52b9740c49=1765976924"
  user-agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0"
  d-c0: "OqZT5s7uAxuPTmV6VcAsYmNaoo1DJN4cKgU=|1756900396"
  x-zse-93: "101_3_3.0"

  # 5. 爬取控制参数
  max-retries: 1  # HTTP请求重试 & 爬取重试
  min-retry-delay-seconds: 1
  max-retry-delay-seconds: 10
  crawl-await-minutes: 0  # 0=无限等待，非0=超时等待
  crawl-retry-await-minutes: 1
  thread-count: 4
  batch-size: 20
  script-timeout-seconds: 3  # zse96参数解析脚本超时时间

logging:
  config: classpath:log4j2.xml  # 日志框架配置文件

# Dubbo 核心配置
dubbo:
  # 应用配置：唯一标识，用于注册中心展示
  application:
    name: zhihu-crawler-service
    logger: slf4j # 日志适配SLF4J（与项目日志框架统一）
  # 注册中心：Nacos（生产级首选）
  registry:
    address: nacos://${NACOS_ADDR:127.0.0.1:8848} # 环境变量注入，方便不同环境部署
    username: ${NACOS_USER:nacos}
    password: ${NACOS_PWD:nacos}
    group: ZHIHU_GROUP # 分组隔离，避免与其他项目冲突
  # 协议配置：默认dubbo协议，端口自动分配（20880-20890）
  protocol:
    name: dubbo
    port: -1 # -1表示自动分配端口，避免多实例端口冲突
  # 扫描配置：扫描@DubboService注解的服务实现类
  scan:
    base-packages: org.acpasser.zhihunet.crawler.service.impl
  # 提供方配置：通用规则
  provider:
    timeout: 300000 # 服务超时（5分钟，适配爬虫长任务）
    retries: 0 # 爬虫任务不重试（内部已做重试逻辑）
    loadbalance: random # 负载均衡（多实例时随机分配）
