<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.acpasser.zhihunet.repository.mybatis.mapper.ext.ZhihuCollectionExtMapper">
  <resultMap id="BaseResultMap" type="org.acpasser.zhihunet.model.ZhihuCollection">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="collection_id" jdbcType="BIGINT" property="collectionId" />
    <result column="creator_token" jdbcType="VARCHAR" property="creatorToken" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="collection_created_time" jdbcType="TIMESTAMP" property="collectionCreatedTime" />
    <result column="collection_updated_time" jdbcType="TIMESTAMP" property="collectionUpdatedTime" />
    <result column="public_status" jdbcType="TINYINT" property="publicStatus" />
    <result column="answer_count" jdbcType="INTEGER" property="answerCount" />
    <result column="follower_count" jdbcType="INTEGER" property="followerCount" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="deleted_at" jdbcType="INTEGER" property="deletedAt" />
  </resultMap>
    <insert id="batchUpsert">
        INSERT INTO zhihu_collection (
        collection_id,
        creator_token,
        title,
        description,
        collection_created_time,
        collection_updated_time,
        public_status,
        answer_count,
        follower_count,
        comment_count,
        url,
        created_time,
        updated_time,
        deleted_at
        ) VALUES
        <foreach collection="collections" item="collection" separator=",">
            (
            #{collection.collectionId},
            #{collection.creatorToken},
            #{collection.title},
            #{collection.description},
            #{collection.collectionCreatedTime},
            #{collection.collectionUpdatedTime},
            #{collection.publicStatus},
            #{collection.answerCount},
            #{collection.followerCount},
            #{collection.commentCount},
            #{collection.url},
            <!-- 首次插入时生成创建时间 -->
            IFNULL(#{collection.createdTime}, NOW()),
            <!-- 每次插入/更新都刷新更新时间 -->
            NOW(),
            0
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        creator_token = VALUES(creator_token),
        title = VALUES(title),
        description = VALUES(description),
        collection_created_time = VALUES(collection_created_time),
        collection_updated_time = VALUES(collection_updated_time),
        public_status = VALUES(public_status),
        answer_count = VALUES(answer_count),
        follower_count = VALUES(follower_count),
        comment_count = VALUES(comment_count),
        url = VALUES(url),
        <!-- 保留原始创建时间，不更新 -->
        created_time = zhihu_collection.created_time,
        <!-- 每次更新都刷新更新时间 -->
        updated_time = NOW(),
        deleted_at = 0
    </insert>
</mapper>